* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
#page1 {
    height: 100vh;
    width: 100vw;
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}
#page2 {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    justify-content: center;
    display: flex;
    align-items: center;
}
#page3 {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    justify-content: center;
    display: flex;
    align-items: center;
}